# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../:\FACULTATE\AN 2\SEM 2\TP\Assignments\PT2021_30222_Varvara_Raluca_Assignment_4\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
